{% extends 'base.html' %}

{% block title %}Register{% endblock %}


{% block content %}
<div class="mx-auto" style="width: 500px;">
  <div class="container">
        <div class="mx-auto">
            <h4 class="my-2">Настройки</h4>
        </div>
        <form method="POST" action="">{% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
            <button type="submit" class="btn btn-danger my-3">Удалить</button>
        </form>
    </div>
</div>

<div class="mx-auto" style="width: 500px;">
  <div class="container">
        <div class="mx-auto">
            <p class="my-2">Если вы не нашли подходящий набор "Город-специальность",
                вы можете заполнить форму ниже с вашими пожеланиями.
                После того, как данные будут добавлены, вы получите письмо на указанный e-mail
            </p>
        </div>

        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsed" aria-expanded="false" aria-controls="collapseExample">
                Показать форму
            </button>
        </p>
        <div class="collapse" id="collapsed">
          <div class="card card-body">
            <form method="POST" action="{% url 'accounts:contact' %}">{% csrf_token %}
                <div class="form-group">
                    {{ contact_form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>

    </div>
</div>
{% endblock content %}
